body {
    background: #F2F2F2;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor {
    width: 400px;
    padding: 20px;
}

.caja {
    padding: 20px 10px;
    text-align: center;
    margin: 10px 0;
    background: #226FC1;    
    /* background: #000000; */
    font-size: 24px;
    color: #FFFFFF;
}

.naranja { background: #F9A03F; }